:root {
  --headCol: #82d682;
  --valCol: #ffe400;
  --white: #ffffff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* position: relative; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-size: small;
}

.root {
   position:absolute; 
  height: 100%;
  width: 100%;
  margin: 0 0;    
}

.app  {
 /* width: 100vw;
  position: absolute;*/
  background-color: #0000;
  /* top:0; */
  /* left:110; */
  height: 100%;
  width: 100%;
  /* transition: height 0.3s ease-out; */
  display: flex;
  flex-direction: row;
}


.map {
 /* top:0;
  left:0;
  /*position: relative;*/
  /* float: left; */
  height: 100%;
    width: 20%;  
 
  /*border: 1px solid darkgray;*/
}

.wf {
  /*background-color: chartreuse;
  top:0;
  left:0;*/
  /* position: relative; */
  /* float: left; */
  height: 90%;
   width: 20%; 
 
  /*border: 1px solid darkgray;*/
}

.wfSB {
  /*display: flex;*/
  background-color: rgb(42, 43, 42);
   position: relative; 
  /* float: left; */
  height: 100%;
    width: 100%;      
    border-radius: 5;
    cursor:crosshair;
    display: flex;
    justify-content: center;
 
  
}


.canv{
  
  /*display: block;
  position: absolute;
 float:none; */
  top: 11;
  left: 0;
  width: 100%;
  height: 100%;  
}

.testCanv{
  width: 100%;
  height: 100%;  
}

.imgpl
{
  position: relative;
  width: 40px;
  left:123px;
  opacity: 0.8;
}


.imgcl
{
  position: absolute;
  
  
  top:100px;
  left:0;
  background-color: #0000
  
}

.head{
  color: var(--headCol);
}

.lens{       
    border-radius: 9999px;
    box-shadow: 20px 20px 5px rgb(0, 0, 0, 0.5);
    pointer-events: none;
}

.info{
  position: absolute;
  left:0;
  background-color: #68686892;
  color: var(--headCol);
 /* visibility: hidden;*/
}
  
/* Both canvases overlap exactly and scale with window */
canvas { position: absolute; inset: 0; width: 100%; height: 100%; display: block; }

/* Overlay is fully transparent to input */
#OLCanv { pointer-events: none; }  /* <- mouse goes through */

#objinfo h1{

    font-size: 18px;
    color: #4264b4;      /* slate-900 */
    margin: 0.5rem 0;
    letter-spacing: 0.02em;
    text-align: center;
}

#targetinfo h1{

    font-size: 18px;
    color: var(--headCol);      /* slate-900 */
    margin: 0.5rem 0;
    letter-spacing: 0.02em;
    text-align: center;
}